.frog {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;

    display: block;
    margin: 50px auto;

    box-shadow: 10px 10px 50px 10px #555111;
}

.myButton {
    background-color: #4caf50;
    border: none;
    color: #ffffff;
    padding: 12px 24px;
    border-radius: 10px;
    cursor: pointer;
}

.myButton:hover {
    opacity: 80%;
}
